<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userDashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    
</head>
<body>
   <%- include ('../partials/header.ejs') %>
   <%- include ('../partials/profile.ejs') %>
   
   <section class="Hcontainer">
        <div class="dashboard-grid">
            <div class="card">
                <h2>Your Waste Requests</h2>
       <table>
        <tr>
        <th>Waste Type</th>
         <th>Status</th>
        <th>Collector</th>
        <th>Request Date</th>
        </tr>
        <% wasteLogged.forEach(req => { %>
         <tr>
         <td><%= req.waste_type %></td>
        <td>
              <% if (req.status === 'pending') { %>
                <span style="color: orange; font-weight: 600;"><%= req.status %></span>
              <% } else if (req.status === 'accepted') { %>
                <span style="color: green; font-weight: 600;"><%= req.status %></span>
              <% } else { %>
                <span style="color: gray; font-weight: 600;"><%= req.status %></span>
              <% } %>
            </td>
            <td><%= req.collector_name || 'Not assigned yet' %></td>
            <td><%= req.created_at || '-' %></td>
         </tr>
        <% }) %>
        </table>
                <!-- <a href="/logwaste" class="btn">Add New Entry</a> -->

                <h2 style="margin-top:20px;">Rewards</h2>
                <p>Total Points: <strong>0</strong></p>
                <a href="/rewards/redeem" class="btn">Redeem Rewards</a>
            </div>
            
        </div>
   </section>
     
    
<%- include ('../partials/footer.ejs') %>
</body>
</html>